body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: "Saira Extra Condensed", sans-serif;
  background-color: white;
  margin: 0 0 0 0;
}

img {
  height: 100%;
  /* width: 100%; */
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  height: 10%;
  width: 100%;
  /* background-color: gray; */
  display: flex;
  justify-content: center;
}

#middle {
  height: 80%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}

#footer {
  height: 10%;
  width: 100%;
  /* background-color: gray; */
}

#dynamic-area {
  flex-basis: 100vh;
  height: 100%;
  width: 100%;
  /* background-color: blue; */
}

#welcome {
  height: 100%;
  width: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lobby {
  height: 100%;
  width: 100%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lobby-header {
  height: 20%;
  width: 100%;
  background-color: blue;
}

#lobby-middle {
  height: 75%;
  width: 100%;
  background-color: red;
  display: flex;
  overflow: hidden;
}

#lobby-chat {
  height: 95%;
  width: 75%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px;
  padding-bottom: 10px;
  padding-right: 100vw;
  margin-right: -100vw;
}

#lobby-users {
  flex-grow: 1;
  background-color: yellow;
}

#lobby-bottom {
  height: 5%;
  width: 100%;
  /* background-color: green; */
  display: flex;
}

#lobby-typeMessage {
  width: 90%;
}

#lobby-bottom button {
  flex-grow: 1;
}