body {
  font-family: 'Darker Grotesque';
  font-size: 22px;
  background-color: white;
  margin: 0 0 0 0;
}

input {
  width: 100%;
  font-family: 'Darker Grotesque';
  font-size: 22px;
  border-width: 0px 0px 2px 0px;
  outline: none;
}

button {
  font-family: 'Darker Grotesque';
  font-size: 22px;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#header-logo {
  height: 100%;
}

#middle {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  height: 5%;
  width: 100%;
}

#dynamic-area {
  flex-basis: 80vh;
  height: 90%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome {
  height: 75%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#welcome div {
  width: 100%;
}

.welcomeIcon {
  height: 5%;
  width: 5%;
}

#welcome-create {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#welcome-join {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#lobby {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lobby-header {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

#lobby-header div {
  padding: 10px;
}

#lobby-middle {
  height: 75%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

#lobby-chat {
  height: 95%;
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px;
  padding-bottom: 10px;
  padding-right: 100vw;
  margin-right: -100vw;
}

#lobby-chat div {
  padding: 3px;
}

#lobby-users {
  flex-grow: 1;
}

#lobby-bottom {
  height: 5%;
  width: 100%;
  display: flex;
}

#lobby-typeMessage {
  width: 90%;
  padding: 10px;
}

#lobby-bottom button {
  flex-grow: 1;
}